<nav class="navbar navbar-expand-lg bg-light border-bottom sticky-top">
  <div class="container">
    <a class="navbar-brand" href="/">Mamazon</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mynav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" href="/" data-nav="home">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/products" data-nav="products">Items</a></li>
        <li class="nav-item"><a class="nav-link" href="/contact" data-nav="contact">Contact</a></li>
      </ul>
      <span class="mycarttag">My Cart: <span id="cartcount">0</span></span>
    </div>
  </div>
</nav>
